H1
{
  margin: 0;
  padding: 0;
}

.head__menu
{
    margin: 10px 0 0 0px;
}

.head__menu-item
{
    font-size: 15px;

    display: inline-block;

    margin-right: 20px;
    padding-top: 16px;

    text-decoration: none;

    color: #2b4494;
}

a.head__menu-item:hover
{
    color: red;
}

.head__menu-item_active_yes
{
    padding-top: 13px;

    color: #000;
    border-top: 3px solid;
}

.header
{
    font-size: 22px;
    font-weight: normal;
}

.header_type_main
{
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}


.language_pane
{
   position: relative;
   height: 20px;
   width: 170px;
   left: 50%;
   margin-left: -80px;
   margin-top: 50px;
}

.lang_switcher_passive
{
  display: block;
  float: left;
  margin: 0 10px 0 0;

  /* Netscape */
  -moz-opacity: 0.6;

  /* Safari 1.x */
  -khtml-opacity: 0.6;

  /* Modern browsers */
  opacity: 0.6;  
}

.lang_switcher_
{
  display: block;
  float: left;
  margin: 0 10px 0 0;
}


.fix_link
{
  color: #303030;
  text-decoration: underline;
}

.label_red
{
  color: red;
  font-weight: 700;
}

.label_green
{
  color: green;
  font-weight: 700;
}
.page
{
    font-family: Arial;

    margin: 0;
    background: #fafaf9;
}

.head
{
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;

    text-align: left;
}

.head__uninstall
{
    position: absolute;
    top: 0;
    right: 0;
}

.head__menu-item_active_yes
{
    padding-top: 13px;

    color: #000;
    border-top: 3px solid;
}

h2 {
    font-size: 22px;
    font-weight: normal;
}

.page, html
{
    height: 100%;
}

.body
{
    position: relative;

    height: 100%;
    min-height: 100%;

    text-align: center;

    color: #231f20;
    background: #fafaf9;
}

.body__content
{
    display: inline-block;

    vertical-align: middle;
    margin: 86px 10px;
}

.body__spacer
{
    display: inline-block;

    width: 0;
    height: 100%;

    vertical-align: middle;
}

.textarea
{
    position: relative;

    width: 326px;
    margin: 17px auto;
}

.textarea__input
{
    font-size: 15px;

    width: 296px;
    margin: 0;
    padding: 6px 13px 6px;

    -webkit-transition: box-shadow .05s ease;
            transition: box-shadow .05s ease;

    border: 1px solid #c4c3c3;
    outline: none;
    box-shadow: none;
}

.textarea__input:focus
{
    border-color: rgba(178,142,0,.6);
    box-shadow: 0 0 6px 2px rgba(255,204,0,.7),0 1px 0 rgba(255,255,255,.2),inset 0 1px 1px rgba(0,0,0,.1);
}

.button
{
    font-size: 16px;

    position: relative;

    margin: 0 12px;
    padding: 9px 10px;

    border: 1px solid #c4c3c3;
    border-radius: 3px;
    outline: none;
    background: #fff;

    word-spacing: 2px;
    line-height: 15px;

}


.button_action
{
    font-size: 16px;

    position: relative;

    margin: 0 12px;
    padding: 9px 10px;

    border-radius: 3px;
    outline: none;

    word-spacing: 2px;
    line-height: 15px;

    border: 1px solid #c8ad39;
    background: #ffdc41;
    color: #000;

}



button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}
.file .button
{
    padding: 9px 10px 7px;
}
.button:hover
{
    cursor: pointer;

    border-color: rgba(0,0,0,.3);
}

.file .button__text
{
    font-size: 15px;
}

.button_disabled_yes
{

}
.button_disabled_yes:hover
{
    cursor: default;
    border-color: #c4c3c3;
}

@media (min-width: 0)
{
    .b-checkbox__box
    {
        position: relative;
        height: 17px;
        vertical-align: middle;
        display: inline-block;

/*        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;*/
    }

    .b-checkbox__box:before,
    .b-checkbox__box:after
    {
        position: absolute;

        padding: 1px;

        content: '';

        border-radius: 3px;
    }

    .b-checkbox__box:after
    {
        top: 1px;
        left: 1px;

        padding: 0;

        border-radius: 2px;
    }

    .b-checkbox__box
    {
        cursor: pointer;
    }

    .b-checkbox_checked_yes .b-checkbox__box:before
    {
        background: #d7c791;
    }

    .b-checkbox__box:before
    {
        background: #cfcece;
    }

    .b-checkbox_checked_yes .b-checkbox__box:after
    {
        background: #fdeaa9;
    }

    .b-checkbox__box:after
    {
        background: #fff;
    }

}

@media (min-width: 0)
{
    .b-checkbox__control
    {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 101%;
        height: 101%;
        margin: 0;
        padding: 0;

        opacity: 0;
        border: 0;
        outline: 0;
        background: none;
    }
}

@media (min-width: 0) {
    .b-checkbox__tick
{
    position: relative;
    z-index: 3;
    top: -4px;
    left: 2px;

    display: inline-block;
    visibility: hidden;

    width: 16px;
    height: 14px;
    margin: 0 0 -2px;
    padding: 0;

    vertical-align: baseline;

    opacity: .8;
    background: url("../img/tick.png") 0 100% no-repeat;
    background-size: contain;
}

.b-checkbox_checked_yes .b-checkbox__tick
{
    visibility: visible;
}
}

.b-checkbox__label
{
    margin-left: .4em;

    vertical-align: middle;
}

.b-checkbox_size_s .b-checkbox__box:before,
.b-checkbox_size_s .b-checkbox__box:after
{
    width: 12px;
    height: 12px;
}


.button_press_yes
{
    background: rgba(191, 153, 0, .8);
}

.button .button__error
{
    position: absolute;
    top: 0;
    right: 105%;

    visibility: visible;

    padding: 8px 7px 7px;

    -webkit-transition: opacity .1s ease-out;
       -moz-transition: opacity .1s ease-out;
         -o-transition: opacity .1s ease-out;
            transition: opacity .1s ease-out;
    white-space: nowrap;

    opacity: 1;
    color: #fff;
    background: #ff7373;
}

.form__error
{
    font-size: 15px;

    display: inline-block;

    margin-bottom: 12px;

    color: #fff;
    background: #ff7373;
    padding: 9px 19px 7px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
.footer
{
    font-size: 13px;

    position: fixed;
    bottom: 0;

    width: 100%;
    padding: 16px 0;

    text-align: right;
    background: inherit;
    border-top: 1px solid #ccc;
}

.footer__item
{
    display: inline-block;

    margin-right: 27px;
}

.footer__item_type_copyright
{
}

a,.b-link
{
    text-decoration: none;

    color: #8a929f;
}

a, .b-link:hover
{
    color: red;
}

.modal .b-link
{
    color: #2e4a9a;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
/* Customize container */
@media(min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media screen and(min-width: 768px) {
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
       // margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.log {
    overflow-wrap: break-word; 
    word-wrap: break-word;
    font-size: 11pt;
}

.err
{
  color: #800000;
}

.small_button_font
{
   font-size: 80%
}

#warning_msg
{
  color: darkred;
}
